# Standard Input and Output

In [1]:
# Take input from user
user_input = input("Please enter your name: ")
print("Hello, " + user_input)

Please enter your name:  Sangeeta

Hello, Sangeeta

In [2]:
# Take numerical input from user
num_input = int(input("Please enter a number: "))
print("You have entered: ", num_input)

Please enter a number:  10

You have entered:  10

In [3]:
# The print() function is used to output data to the standard output device (like the console). 
print("Good Morning") # prints "Good Morning"

Good Morning

In [4]:
name = "Alice"
print("Hello, " + name) # prints "Hello, Alice"

Hello, Alice

In [5]:
name = "Tom"
age = 25
print("Hello, " + name, "You are", age, "years old.")
# prints "Hello, Tom You are 20 years old."

Hello, Tom You are 25 years old.

In [6]:
a = 10
b = 20
c = a + b
print(b)

20

In [7]:
# take input from the user
rn = input("Roll no:")
print(f"Welcome to: {rn}")

Roll no: 1

Welcome to: 1

# Operators

In [8]:
a = 10
b = 20

In [9]:
print(a == b)

False

In [10]:
a = 10
b = 10
print(a != b) # Not Equal condition. If it is not equal: output is True

False

In [11]:
a = 31
b = 31
#print(a > b)
#print(a < b)

print(a <= b)

True

In [12]:
# Logical operators

# We to apply for job: two conditions are there: (1) More than 60% marks, and (2) You should be from CS, IT
#-------------------- AND ---------------------------
# Tom he has 75% and he is from Arts = Tom will be out
# Alice she has 61% and she is from CS = Alice will go and give the interview

# We to apply for job: two conditions are there: (1) More than 60% marks, or (2) You should be from CS, IT
#-------------------- OR ---------------------------
# Tom he has 75% and he is from Arts 
# Alice she has 61% and she is from CS 
# Both Alice and Tom will give the interview

#-------------------- NOT ---------------------------
# Opposite to what you have


a = True
b = False

#print(a and b)

#print(a or b)

print(not b)

True

In [13]:
# binary numbers: 0,1   10 = 1010

a = 10  # 1010
b = 4   # 0100

bin(10)
bin(4)

#result = a & b
#print(result)

# 10 = 1 0 1 0
# 4 =  0 1 0 0
#--------------
#      0 0 0 0 = 0

# & compares each bit of the 1st operand with the 2nd. 
# if both bits are 1. The corresponding bit is set to 1 Otherwise 0

# OR
# | compares each bit of the 1st operand with the 2nd. 
# If either bit is 1, the corresponding result bit is set 1, otherwise the result bit is set to 0
# result = a | b
# print(result)

# 10 = 1 0 1 0
# 4 =  0 1 0 0
#--------------
#      1 1 1 0 = 14

# Not ~ 

# XOR
# ^ compares each bit of the 1st operand with the 2nd. 
# If one bit is 1 (but not both), the corresponding result bit is set to 1, otherwise set to 0

a = 10  # 1010
b = 4   # 0100

result = a ^ b
print(result)  # 14 = 1110

# 10 = 1 0 1 0
# 4 =  0 1 0 0
#--------------
#      1 1 1 0 = 14

14

In [14]:
# Right Shift
a = 10 # 1010
result = a >> 1 
print(result)

# 10 =  1 0 1 0
# 5  =  0 1 0 1

5

In [15]:
# left shift
a = 5
#result = a << 2
print(result)

# 5  =  0 1 0 1 
# 20 =  1 0 1 0 0

bin(10)

5

'0b1010'

In [16]:
# Assignment operators

a = 5
# a = a + 3 
a += 3 # same as this: a = a + 3
print(a)

8

In [17]:
a = 5
# a = a - 3 
a -= 3 # same as this: a = a - 3
print(a)

2

In [18]:
a = 5
# a = a * 3 
a *= 3 # same as this: a = a * 3
print(a)

15

In [19]:
a = 15
# a = a / 3 
a /= 3 # same as this: a = a / 3
print(a)

5.0

# If Statement

In [21]:
age = 17
if age >= 18:
    print("Congs, You can drive")

In [22]:
age = 21
if age >= 18:
    print("Congs, You can drive")
else:
    print("Sorry due to age limitations you cannot drive")

Congs, You can drive

In [23]:
score = 75
if score >= 90:
    print("Excellent performance, your gade is A+")
elif score >= 80:
    print("Good performance, your gade is A")
elif score >= 70:
    print("Average performance, your gade is B")
else:
    print("Performance not good, your grade is C")

Average performance, your gade is B

In [24]:
# Find largest number from 3 given number
num1 = 10
num2 = 20
num3 = 30

if (num1 >= num2) and (num1 >= num3):
    largest = num1
    print("Largest number is:", largest)
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
    print("Largest number is:", largest)
else:
    largest = num3
    print("Largest number is:", largest)
    
#print("Largest number is:", largest)

Largest number is: 30

In [25]:
# Find largest number from 3 given number
num1 = float(input("Please enter 1st number:"))  # input() it return string.
num2 = float(input("Please enter 2nd number:"))
num3 = float(input("Please enter 3rd number:"))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
    print("Largest number is:", largest)
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
    print("Largest number is:", largest)
else:
    largest = num3
    print("Largest number is:", largest)

Please enter 1st number: 20
Please enter 2nd number: 10
Please enter 3rd number: 50

Largest number is: 50.0

In [1]:
# let us make a simple calculator which takes the choice of operation from user
# Also user enter two numbers which needed to be computed.

choice = input("Enter you choice (add/sub/div/mul):")

num1 = float(input("Please enter 1st number:"))  
num2 = float(input("Please enter 2nd number:"))

if choice == "add":
    print(num1, "+", num2, "=", num1 + num2)
elif choice == "sub":
    print(num1, "-", num2, "=", num1 - num2)
elif choice == "div":
    print(num1, "/", num2, "=", num1 / num2)
elif choice == "mul":
    print(num1, "*", num2, "=", num1 * num2)
else:
    print("wrong choice")

Enter you choice (add/sub/div/mul): add
Please enter 1st number: 10
Please enter 2nd number: 20

10.0 + 20.0 = 30.0

In [2]:
# We have 3 designations: Executive, Manager, Senior Manager
# take input from the user "Designation" and print salary range of that designation
# Executive: 30000-40000
# Manager: 60000-90000
# Senior Manager:  120000-160000

# Input: Ask the designation from user: "Executive"
# Output: The salary range of the Executive is: 30000-40000

In [3]:
designation = input(" Enter your designation (Executive/Manager/Senior Manager):")

designation = designation.lower() # Convert to lower (small letters)

if designation == "executive":
    print("The salary range for executives between 30000-40000")
elif designation == "manager":
    print("The salary range for manager between 60000-90000")
elif designation == "senior manager":
    print("The salary range for senior manager between 120000-160000")
else:
    print("Please enter correct choice (Executive/Manager/Senior Manager).")

 Enter your designation (Executive/Manager/Senior Manager): Manager

The salary range for manager between 60000-90000

# For Loop

In [4]:
# range(): generating sequence of number 1, 2, 3, 4, 5
for i in range(5): # range(stop)
    print(i)

0
1
2
3
4

In [5]:
for i in range(2, 5): # range(stop, start)
    print(i)

2
3
4

In [6]:
for i in range(0, 20, 2): # using range(start, stop, step)
    print(i)

0
2
4
6
8
10
12
14
16
18

In [7]:
# Let have for loop on list
country = ["India", "UK", "USA", "Germany"]  # 4... 1,2,3,4....  0,1,2,3

for ct in country:
    print(ct)

India
UK
USA
Germany

In [8]:
country = ["India", "UK", "USA"] # 0,1,2,3

for index in range(len(country)):
    print(country[index])
    
# country[0]
# country[1]
# country[2]
# country[3]

print(len(country))

India
UK
USA
3

In [9]:
# banks
# insurance
# credit limits

In [10]:
# This script will output a pattern of asterisks as follows:
# *
# * *
# * * *
# * * * *
# * * * * *

# The outer loop controls the number of rows
for i in range(5):
    # The inner loop controls the number of asterisks (*) in each row
    for j in range(i+1):
        # Print an asterisk, and with 'end' parameter we can avoid new line after each print statement
        print('*', end=' ')
    # After each row, print a newline to move to the next row
    print()

*
* *
* * *
* * * *
* * * * *

In [11]:
# print("*",end=" ")
# print asterisks sign 
# end=" " to have the space between *   \n

In [12]:
# Print follwoing pattern:
# Pattern
# 16
# 16 8
# 16 8 4
# 16 8 4 2

# Initial number is 16, and we want to print four lines.
initial_num = 16
lines = 4

# The outer loop controls the number of lines.
for i in range(lines):
    num = initial_num
    # The inner loop controls the numbers on each line.
    # For each line, we print the numbers by successively halving.
    for j in range(i + 1):
        # The print function prints the current number followed by a space.
        print(num, end=' ')
        # Update the number by halving it
        num //= 2
    # After all the numbers on a line have been printed, we print a newline character
    print()

16
16 8
16 8 4
16 8 4 2

# Nested For Loop

In [13]:
#Print the following pattern:
# 1    2    3    4     5
# 2    4    6    8     10
# 3    6    9    12    15   
# 4    8    12   16    20
# 5   10    15   20    25 

# The outer loop iterates over the first 5 numbers
for i in range(1, 6):
    # For each number 'i', the inner loop iterates over the first 5 numbers as well
    for j in range(1, 6):
        # Print the product of 'i' and 'j', followed by a tab space
        print(i * j, end='\t')
    # After each row of the table, print a newline to move to the next row
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

# While

In [14]:
count = 1

while count <= 5:   # while will run untill value of count is 5. If value is 6, it will not run
    print(count)    # printing value of count
    count += 1      # count = count + 1
    
#Check count <= 5..... count = 1 that mean condition true, condition holds

# 1st interation
# Step 1: print the value of count 1
# Step 2: count will be incremented by 1 count = count + 1

# Now updated Count = 2
# while count <= 5: still condition is true
    
# 2nd interation
# Step 1: print the value of count 2
# Step 2: count will be incremented by 1 count = count + 1 = 2 + 1 = 3

# Now updated Count = 3
# while count <= 5: still condition is true

# 3rd interation
# Step 1: print the value of count 3
# Step 2: count will be incremented by 1 count = count + 1 = 3 + 1 = 4

# Now updated Count = 4
# while count <= 5: still condition is true

# 4th interation
# Step 1: print the value of count 4
# Step 2: count will be incremented by 1 count = count + 1 = 4 + 1 = 5

# Now updated Count = 5
# while count <= 5: still condition is true

# 5th interation
# Step 1: print the value of count 5
# Step 2: count will be incremented by 1 count = count + 1 = 5 + 1 = 6

# Now updated Count = 6
# while count <= 5: Now condition false

1
2
3
4
5

In [15]:
text = ""

while text != "quit":
    text = input("Enter a word (or quit to exit):")
    print("You entered:", text)

Enter a word (or quit to exit): Hi

You entered: Hi

Enter a word (or quit to exit): GM

You entered: GM

Enter a word (or quit to exit): quit

You entered: quit

In [16]:
# For we used generally we know when to stop
# While is generally use when stop condition will be satisfied, we do not know
# We have a list nm = [Alice, Tom, Marry, James]
# Salary = [30000, 40000, 45000, 40000]
# give 5 % bonus to James only as he is performing great. Boss is happy

names = ["Alice", "Tom", "Marry", "James"]
salary = [30000, 40000, 45000, 40000]

print("Old Salary is:")
print(salary)
# First sub-problem is we will iterate both lists
# We need to update salary of James only

for i in range(len(names)):
    if names[i] == "James":
        increment = salary[i]*0.05
        salary[i] += increment

print("Updated Salary is:")
print(salary)

Old Salary is:
[30000, 40000, 45000, 40000]
Updated Salary is:
[30000, 40000, 45000, 42000.0]

In [17]:
# Have a while loop run for a specific amount of time, you can use the time module in Python. 
# Here's an example of a while loop that prints "hi" for 10 seconds:

import time

# Get the current time
start_time = time.time()

# This is the time, in seconds, for which we want the loop to run
duration = 10

# This while loop will run until the elapsed time is greater than the specified duration
while time.time() - start_time < duration:
    print("hi")
    # It's a good idea to add a small delay, so we don't print "hi" too rapidly
    time.sleep(0.3)

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

# Nested For and IF

In [18]:
# Given a list of numbers, we want to check if a number is divisible by 3 and print it if it is.

# Here's our list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# The loop goes through each number in the list
for num in numbers:
    # The if statement checks if the number is divisible by 3
    if num % 3 == 0:
        # If the number is divisible by 3, print it
        print(f"{num} is divisible by 3")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3

In [19]:
# Here's our list
names = ['john', 'SARAH', 'alice', 'bob', 'CHARLIE']

# The loop goes through each name in the list
for i in range(len(names)):
    # The if statement checks if the name does not start with a capital letter
    if not names[i][0].isupper():
        # If the name doesn't start with a capital letter, capitalize it
        names[i] = names[i].capitalize()

# Print the updated names list
print(names)

['John', 'SARAH', 'Alice', 'Bob', 'CHARLIE']